*~
auto
Dissertation.aux
Dissertation.bbl
Dissertation.blg
Dissertation.dvi
Dissertation.log
Dissertation.toc
Dissertation.pdf
Dissertation.out
*.log
amsmath.sty.txt
colortbl.sty.txt
multirow.sty
a4.sty
ulem.sty
sudoku-package
subfig
*.gz
.directory
*.jpg
