*~
auto
Dissertation.aux
Dissertation.bbl
Dissertation.blg
Dissertation.dvi
Dissertation.log
Dissertation.toc
Dissertation.pdf
Dissertation.out
Sudoku.log
amsmath.sty.txt
colortbl.sty.txt
multirow.sty
a4.sty
sudoku-package
*.gz
.directory

